@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
/* 
.wrapper {
  max-width: 760px;
  margin: 50px auto;
  padding: 40px 20px;
}
.wrapper .accordion-button {
  font-size: 0.9rem;
  font-weight: 500;
}
.wrapper .accordion-button:hover {
  background-color: #f8f8f8;
}
.wrapper .accordion-button:focus {
  box-shadow: none;
}
.wrapper .accordion-button::after {
  background-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8c8c8;
  background-position: center center;
  border-radius: 50%;
}
.wrapper .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #f7f7f7;
  font-weight: 600;
  border-bottom: 1px solid #ddd !important;
}
.accordion-button:not(.collapsed)::after {
  border-color: #1e88e5;
}
.wrapper .accordion-button.collapsed {
  border-bottom: 1px solid #ddd !important;
}
.wrapper .accordion-collapse.show {
  border-bottom: 1px solid #ddd !important;
} */

.nav-item {
  width: fit-content;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 100px;
}

.about{
  background-color: #000;
  color: yellow; 
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
}

.about h2 {
  text-align: center;
}

.footer-link{
    margin: 0 90px;
    position: relative;
    top: 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
}
  
.footer-link:hover{
text-decoration: underline; 
}

.footer{
position: relative;
top: 60px;
}

.icons{
  color: inherit;
  padding-right: 10px;
}

.navbar-item{
  display: block;
}


/* FAQs */

#faq {
  background-color: #000;
  color: #ff0;
}

#faq h1, h2, h3, h4, h5, h6 {
  color: #ff0;
}

#faq a, #faq a:hover, #faq a:focus, #faq a:active {
  text-decoration: none;
  outline: none;
}
#faq ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#faq {
  padding: 120px 0 90px;
  min-height: 100vh;
}

#faq .section-title {
  margin-bottom: 54px;
}

#faq .section-title h2 {
  margin-bottom: 22px;
}

#faq .accordion .card {
  border: none;
  --bs-card-bg: none;
  margin-bottom: 30px;
}

#faq .accordion .card:not(:first-of-type) .card-header:first-child {
  border-radius: 10px;
}

#faq .accordion .card .card-header {
  border: none;
  border-radius: 10px;
  padding: 0;
}

#faq .accordion .card .card-header h5 {
  padding: 0;
}

#faq .accordion .card .card-header h5 button {
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 0 30px 0 70px;
  height: 80px;
  display: block;
  width: 100%;
  color: white;
  text-align: left;
  background: #282828;
  -webkit-box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px -50px 140px 0px rgba(69, 81, 100, 0.1);
  border-radius: 10px 10px 0 0;
  position: relative;
}

#faq .accordion .card .card-header h5 button:after {
  position: absolute;
  left: 30px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #ff0;
  text-align: center;
  border: 1px solid #ff0;
  border-radius: 50%;
  line-height: 100%;
  content: "+";
  font-size: 10px;
  line-height: 18px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#faq .accordion .card .card-header h5 button.collapsed {
  background: #282828;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  color: white;
}

#faq .accordion .card .card-header h5 button[aria-expanded="true"]:after {
  content: "-";
  color: #ff0;
  /* background-image: -webkit-linear-gradient(-180deg, #5e7eff 0%, #ff5f74 30%, #a85fff 100%); */
}

#faq .accordion .card .card-body {
  background-color: #282828;
  -webkit-box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  box-shadow: 0px 15px 140px 0px rgba(69, 81, 100, 0.1);
  border-radius: 0 0 10px 10px;
  padding-top: 1rem;
  margin-top: -6px;
  padding-left: 72px;
  padding-right: 70px;
  padding-bottom: 23px;
  color: white;
  line-height: 30px;
}